.about-ordering {
  width: 177px;
  margin-right: 6%;
}

@media (max-width: $tablet-width) {
  .about-ordering {
    width: 202px;
    margin-right: 10px;
  }
}

@media (max-width: $mobile-width) {
  .about-ordering {
    margin-bottom: 9px;
  }
}
