.accordion {
  margin: 0 auto;
  max-width: 970px;
  border: 1px solid $brown;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.accordion__item {
  border-bottom: 1px solid $brown;
}

.accordion__item .active {
  padding-bottom: 9px;
}

@media (max-width: $mobile-width) {
  .accordion__item .active {
    padding-bottom: 15px;
  }
}

.accordion__item:last-child {
  border-bottom: none;
}

.accordion h3 {
  @include offset(0, 0);
  @include fonts(18px, 23px);
  font-family: 'poppins-medium', 'Arial', sans-serif;
  width: 100%;
  text-align: left;
  padding: 44px 41px 43px;
  min-height: 26px;
  display: flex;
  position: relative;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .accordion h3 {
    padding-bottom: 45px;
    padding-left: 48px;
  }
}

@media (max-width: $mobile-width) {
  .accordion h3 {
    @include fonts(16px, 22px);
    padding: 18px 57px 20px 22px;
  }
}

.accordion h3::after {
  content: '';
  background-image: url('../img/down.svg');
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  position: absolute;
  right: 5%;
  top: 50px;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .accordion h3::after {
    right: 7%;
  }
}

.accordion h3.active::after {
  content: '';
  background-image: url('../img/up.svg');
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  position: absolute;
  right: 5%;
  top: 50px;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .accordion h3.active::after {
    right: 7%;
  }
}


.accordion__container-list {
  display: flex;
}

.accordion__item-body {
  max-height: 0;
  overflow: hidden;
}

.accordion__item-body p {
  @include offset(0, 0);
  @include fonts(16px, 20px);
  font-family: 'poppins-regular', 'Arial', sans-serif;
  padding: 0 48px 43px;
  width: 64%;
}


@media (max-width: $tablet-width) {
  .accordion p {
    width: 97%;
    padding-top: 21px;
  }
}

@media (max-width: $mobile-width) {
  .accordion p {
    @include fonts(14px, 19px);
    width: 85%;
    padding: 0;
    padding: 0 15px 26px 22px;
  }
}

.accordion__no-js {
  max-height: max-content;
  overflow: auto;
}
