.accordion {
  margin: 0 auto;
  max-width: 970px;
  border: 1px solid $brown;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.accordion__item {
  padding: 48px 43px 37px;
  border-bottom: 1px solid $brown;
}

@media (max-width: $mobile-width) {
  .accordion__item {
    padding: 22px;
  }
}

.accordion__item:last-child {
  border-bottom: none;
}

.accordion h3 {
  @include offset(0, 0);
  @include fonts(18px, 23px);
  font-family: "poppins-medium", "Arial", sans-serif;
  width: 100%;
  text-align: left;
  padding-bottom: 5px;
  min-height: 26px;
  display: flex;
  position: relative;
  cursor: pointer;
}

@media (max-width: $mobile-width) {
  .accordion h3 {
    @include fonts(16px, 22px);
    padding-right: 45px;
  }
}

.accordion h3::after {
  content: "";
  background-image: url("../img/down.svg");
  width: 23px;
  height: 12px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}

.accordion h3.active::after {
  content: "";
  background-image: url("../img/up.svg");
  width: 23px;
  height: 14px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}

.accordion__container-list {
  display: flex;
}

.accordion__item-body {
  max-height: 0;
  overflow: hidden;
}

.accordion__item-body p {
  @include offset(0, 0);
  @include fonts(16px, 20px);
  font-family: "poppins-regular", "Arial", sans-serif;
  width: 59%;
  padding-left: 3px;
}

@media (max-width: $mobile-width) {
  .accordion p {
    @include fonts(14px, 19px);
  }
}

.accordion__no-js {
  max-height: max-content;
  overflow: auto;
}
