.catalog {
  width: max-content;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .catalog {
    width: 100%;
  }
}

.catalog__list {
  @include list-reset();
  display: grid;
	column-gap: 28px;
  row-gap: 37px;
	grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 68px;
}

@media (max-width: $mobile-width) {
  .catalog__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 26px;
    margin-bottom: 38px;
  }
}

.catalog__list li {
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .catalog__list li {
    max-width: inherit;
  }
}

.catalog__list h2 {
  @include fonts(16px, 20px);
  max-width: 90%;
  margin: 0 auto;
  padding: 16px 0 9px;
}

@media (max-width: $tablet-width) {
  .catalog__list h2 {
    max-width: 100%;
  }
}

.catalog__list p {
  @include fonts(14px, 18px);
  font-family: 'poppins-bold', 'Arial', sans-serif;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
}

.catalog__list img {
  width: 100%;
  height: auto;
}

.catalog__link {
  text-decoration: none;
  color: $almost-black;
  cursor: pointer;
}

.catalog__link:hover {
  color: $brown;
}

.catalog__link:active {
  color: rgba($brown, 0.5);
}


.catalog__show-button {
  @include link();
  width: 100%;
  padding: 25px;
  background-color: $brown;
  color: $white;
  display: none;
  margin-bottom: 50px;
  cursor: pointer;
}

.catalog__show-button:hover {
  opacity: 0.7;
}

.catalog__show-button:active {
  opacity: 0.5;
}

@media (max-width: $tablet-width) {
  .catalog__show-button {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .catalog__show-button {
    margin-bottom: 41px;
  }
}
