.filter {
  width: 250px;
  margin-right: 50px;
}

.filter ul {
  @include list-reset();
}

.filter__button {
  @include fonts(16px, 20px);
  width: 100%;
  padding: 28px;
  border: none;
}

.filter__button-apply {
  background-color: $brown;
  color: $white;
  margin-bottom: 35px;
  border: none;

  &:hover {
    outline: 3px solid $brown;
  }

  &:active {
    background-color: rgba($brown, 0.7);
    outline: none;
  }
}

.filter__button-clear {
  background-color: $white;
  color: $brown;
  outline: 1px solid $brown;

  &:hover {
    outline: 3px solid $brown;
  }

  &:active {
    color: rgba($brown, 0.5);
    outline: 3px solid rgba($brown, 0.5);
  }
}

.filter__accordion {
  border: 1px solid $brown;
  padding: 0;
  margin: 0 auto 35px;
}

.filter__accordion-item {
  @include fonts(16px, 20px);
  margin: 0;
  padding: 0 26px 25px;
  border: none;
}

.filter__accordion-item:not(:last-child) {
  border-bottom: 1px solid $brown;
}

.filter__accordion-item-header {
  @include fonts(16px, 21px);
  padding-top: 25px;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: relative;
}

.filter__accordion-item-header::after {
  content: "";
  background-image: url(../img/down.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 8px;
  position: absolute;
  background-position:bottom;
  right: 0;
}

.filter__accordion-item-header.active::after {
  background-image: url(../img/up.svg);
  background-position: top;
}

.filter__accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}
