.filter__wrapper {
  width: 250px;
  margin-right: 50px;
}

@media (max-width: $tablet-width) {
  .filter__wrapper {
    width: 80%;
    margin: 40px auto;
  }
}

@media (max-width: $tablet-width) {
  .filter {
    display: none;
    width: 100%
  }
}

.filter__button {
  @include fonts(16px, 20px);
  width: 100%;
  padding: 25px;
  border: none;
  cursor: pointer;
}

.filter__button-apply {
  background-color: $brown;
  color: $white;
  margin-bottom: 25px;
  border: none;

  &:hover {
    outline: 3px solid $brown;
  }

  &:active {
    background-color: rgba($brown, 0.7);
    outline: none;
  }
}

@media (max-width: $tablet-width) {
  .filter__button-apply {
    margin: 42px auto 17px;
    width: 83%;
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .filter__button-apply {
    margin: 30px auto 17px;
    width: 83%;
  }
}

.filter__button-clear {
  background-color: $white;
  color: $brown;
  outline: 1px solid $brown;

  &:hover {
    outline: 3px solid $brown;
  }

  &:active {
    color: rgba($brown, 0.5);
    outline: 3px solid rgba($brown, 0.5);
  }
}

@media (max-width: $tablet-width) {
  .filter__button-clear {
    margin: 24px auto 17px;
    width: 83%;
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .filter__button-clear {
    margin: 18px auto 17px;
    width: 83%;
    display: block;
  }
}

.filter__accordion {
  border: 1px solid $brown;
  padding: 0;
  margin: 0 auto 31px;
}

.filter__accordion-item {
  @include fonts(16px, 20px);
  margin: 0;
  padding: 0;
  border: none;
}

.filter__accordion-item:not(:last-child) {
  border-bottom: 1px solid $brown;
}

.filter__accordion-item-header {
  @include fonts(16px, 21px);
  padding: 25px;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: relative;
}

@media(max-width: $tablet-width) {
  .filter__accordion-item-header {
    padding: 34px 25px 35px;
  }
}

@media(max-width: $mobile-width) {
  .filter__accordion-item-header {
    padding: 26px 28px 25px;
  }
}

.filter__accordion-item .active {
  padding-bottom: 0;
}

.filter__accordion-item-header:hover,
.filter__accordion-item-header:focus {
  color: $brown
}

.filter__accordion-item-header:active {
  opacity: 0.5;
}


.filter__accordion-item-header::after {
  content: '';
  background-image: url(../img/down.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 8px;
  position: absolute;
  background-position: bottom;
  right: 26px;
  top: 27px;
}

.filter__accordion-item-header.active::after {
  background-image: url(../img/up.svg);
  background-position: top;
}

@media (max-width: $tablet-width) {
  .filter__accordion-item-header::after {
    width: 27px;
    height: 16px;
    right: 37px;
    top: 37px;
  }
}

@media (max-width: $tablet-width) {
  .filter__accordion-item-header.active::after {
    top: 30px;
  }
}

@media (max-width: $mobile-width) {
  .filter__accordion-item-header::after {
    width: 21px;
    height: 12px;
    top: 23px;
  }
}

.filter__accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  max-width: 250px;
}

.filter__accordion-item-content {
  @include list-reset();
  padding: 20px 31px 19px;
}

@media (max-width: $tablet-width) {
  .filter__accordion-item-content {
    padding-top: 27px;
    padding-bottom: 35px;
  }
}

@media (max-width: $mobile-width) {
  .filter__accordion-item-content {
    padding: 28px 35px 27px;
  }
}

.filter__range-filter {
  width: 200px;
}

@media (max-width: $tablet-width) {
  .filter__range-filter {
    margin-top: 10px;
  }
}

@media (max-width: $mobile-width) {
  .filter__range-filter {
    margin-top:4px;
  }
}

.filter__range-controls {
  height: 11px;
  position: relative;
}

.filter__scale {
  height: 1px;
  background-color: $grey;
}

@media (max-width: $tablet-width) {
  .filter__scale {
    width: 304px;
  }
}

.filter__bar {
  width: 90px;
  background-color: $brown;
  height: 2px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .filter__bar {
    width: 180px;
    margin: 0 33px;
  }
}

@media (max-width: $mobile-width) {
  .filter__bar {
    width: 136px;
    margin: 0 33px 0 18px;
  }
}

.filter__toggle {
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
  background-color: $brown;
  position: absolute;
  top: -6px;
  left: 0;
}

.filter__toggle-min {
  left: 42px;
}

@media (max-width: $tablet-width) {
  .filter__toggle-min {
    left: 26px;
  }
}

@media (max-width: $mobile-width) {
  .filter__toggle-min {
    left: 12px;
  }
}

.filter__toggle-max {
  left: 142px;
}

@media (max-width: $tablet-width) {
  .filter__toggle-max {
    left: 202px;
  }
}

@media (max-width: $mobile-width) {
  .filter__toggle-max {
    left: 147px;
  }
}
.filter__price-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filter__price-controls label:first-of-type {
  padding-left: 38px;
}

@media (max-width: $mobile-width) {
  .filter__price-controls label:first-of-type {
    padding-left: 6px;
  }
}

.filter__price-controls label:last-of-type {
  padding-right: 25px;
}

.filter__option:not(:last-child) {
  padding-bottom: 12px;
}

@media (max-width: $tablet-width) {
  .filter__option:not(:last-child) {
    padding-bottom: 16px;
  }
}

@media (max-width: $mobile-width) {
  .filter__option:not(:last-child) {
    padding-bottom: 18px;
  }
}

.filter__option label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 25px;
  width: min-content;
}

.filter__option label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid $brown;
}

.filter input:checked+label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid $brown;
  background-color: $brown;
}

.filter__option input:hover+label,
.filter__option input:focus+label {
  color: rgba($brown, 0.7);
}

.filter__accordion-no-js {
  max-height: max-content;
  overflow: auto;
}

.filter--no-js {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.filter--no-js .filter__wrapper {
  margin: 20px auto 40px;
}

@media (max-width: $tablet-width) {
  .filter--no-js .filter__wrapper {
    position: relative;
  }
}

@media (max-width: $tablet-width) {
  .filter__accordion-toggle  {
    margin: 0 auto;
    max-width: 382px;
  }
}

@media (max-width: $mobile-width) {
  .filter__accordion-toggle  {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
