.footer {
  background-color: $black;
  color: $white;
}

.footer__wrapper {
  margin: 0 auto;
  max-width: 1214px;
  padding: 88px 20px 81px;
  display: flex;
  width: 100%;
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 32px;
    padding-left: 45px;
    padding-right: 20%;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    padding: 51px 15px 60px;
    flex-direction: column;
  }
}

.footer ul {
  @include offset(0, 0);
  @include list-reset();
  padding-top: 10px;
}

.footer li {
  @include offset(0, 0);
  padding-bottom: 24px;
}

.footer a {
  @include link();
  color: $white;
}

.footer h2,
.footer p {
  @include offset(0, 0);
}

.footer a:hover,
.footer button:hover {
  color: $brown;
}

.footer a:active {
  border-bottom: 1px solid $brown;
}
