.gallery {
  margin: 0 auto;
  padding-bottom: 127px;
}

@media (max-width: $tablet-width) {
  .gallery {
    padding-bottom: 77px;
  }
}

@media (max-width: $mobile-width) {
  .gallery {
    padding-bottom: 70px;
  }
}

.gallery h2 {
  @include fonts(34px, 44px);
  font-family: 'cormorantgaramond-bold', 'Arial', sans-serif;
  padding: 0 0 30px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .gallery h2 {
    max-width: 70%;
    padding-bottom: 21px;
  }
}

@media (max-width: $mobile-width) {
  .gallery h2 {
    max-width: 90%;
    letter-spacing: 1.5px;
  }
}

.gallery p {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 67px;
}

@media (max-width: $mobile-width) {
  .gallery p {
    padding-bottom: 49px;
  }
}

.gallery a {
  @include fonts(16px, 20px);
  @include link();
  width: min-content;
  border-bottom: 1px solid $brown;
  color: $almost-black;
}

.gallery a:hover {
  color: $brown;
}

.gallery ul {
  @include list-reset();
  padding: 0 20px;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 34px;
}

@media (max-width: $tablet-width) {
  .gallery ul {
    padding-left: 45px;
    padding-right: 45px;
    row-gap: 21px;
    justify-content: center;
  }
}

@media (max-width: $mobile-width) {
  .gallery ul {
    padding-left: 15px;
    padding-right: 15px;
    row-gap: 27px;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }
}

.gallery__normal-item {
  min-height: 230px;
}

@media (max-width: $tablet-width) {
  .gallery__normal-item {
    min-height: 133px;
  }
}

.gallery__small-item {
  min-height: 150px;
}

@media (max-width: $tablet-width) {
  .gallery__small-item {
    min-height: 87px;
  }
}

.gallery__big-item {
  grid-row-end: span 2;
  grid-column-end: span 2;
  min-height: 412px;
}

@media (max-width: $tablet-width) {
  .gallery__big-item {
    min-height: 240px;
  }
}

@media (max-width: $mobile-width) {
  .gallery__big-item {
    grid-column-end: span 1;
    min-height: 247px;
  }
}

.gallery__item {
  width: 100%;
  background-color: $brown;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__item img {
  width: 100%;
}

@media (max-width: $tablet-width) {
  .gallery__item {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .gallery__item img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: $mobile-width) {
  .gallery__normal-item:not(:first-child) {
    display: none;
  }
}

.gallery__square {
  background-image: url('../img/inst-desktop.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../img/inst-desktop@2x.jpg');
  }
}

.gallery__large {
  background-image: url('../img/woman.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../img/woman@2x.jpg');
  }
}

.gallery__bracelet {
  background-image: url('../img/ring.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../img/ring@2x.jpg');
  }
}

.gallery__round {
  background-image: url('../img/ring-earning.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../img/ring-earnung@2x.jpg');
  }
}

.gallery__brown {
  background-image: url('../img/brown.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../img/brown@2x.jpg');
  }
}

.gallery__sea {
  background-image: url('../img/sea.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../img/sea@2x.jpg');
  }
}

.gallery__rings {
  background-image: url('../img/green.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../img/green@2x.jpg');
  }
}
