.gallery {
  margin: 0 auto;
  padding-bottom: 132px;
}

.gallery h2 {
  @include fonts(34px, 44px);
  font-family: "cormorantgaramond-bold", "Arial", sans-serif;
  padding: 0 0 35px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.gallery p {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 67px;
}

.gallery a {
  @include fonts(16px, 20px);
  @include link();
  width: min-content;
  border-bottom: 1px solid $brown;
  color: $almost-black;
}

.gallery a:hover {
  color: $brown;
}

.gallery ul {
  @include list-reset();
  padding: 0 20px;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2%;
  row-gap: 34px;
}

@media (max-width: $tablet-width) {
  .gallery ul {
    row-gap: 21px;
    grid-template-columns: repeat(5, max-content);
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: $mobile-width) {
  .gallery ul {
    row-gap: 27px;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }
}

.gallery__big-item {
  grid-row-end: span 2;
  grid-column-end: span 2;
}

@media (max-width: $mobile-width) {
  .gallery__big-item {
    grid-column-end: span 1;
  }
}

.gallery__item {
  width: auto;
}

.gallery__item img{
  width: 100%;
}


@media (max-width: $tablet-width) {
  .gallery__normai-item {
    min-height: 133px;
  }

  .gallery__small-item {
    min-height: 87px;
  }

  .gallery__big-item {
    min-height: 240px;
  }

  .gallery__item img {
    width: auto;
  }
}

@media (max-width: $mobile-width) {
  .gallery__item {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .gallery__normai-item:not(:first-child) {
    display: none;
  }

  .gallery__item img {
    width: 100%;
    object-fit:cover;

  }
}
