.header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1214px;
  padding-bottom: 12px;
}

@media (max-width: $mobile-width) {
  .header__wrapper {
    padding-bottom: 0;
  }
}

.header__container {
  padding: 33px 21px 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .header__container {
    padding: 33px 44px 0;
  }
}

@media (max-width: $mobile-width) {
  .header__container {
    padding: 19px 15px 0;
  }
}

@media (max-width: $tablet-width) {
  .header__navigation {
    display: none;
  }
}

.header__form {
  position: relative;
  flex-basis: 40%;
}

@media (max-width: $tablet-width) {
  .header__form {
    display: none;
  }
}

.header__form input {
  width: 206px;
  border: $white;
  padding: 9px 0 12px 29px;
}

.header__form input::placeholder {
  @include fonts(14px, 21px);
  font-family: 'poppins-medium', 'Arial', sans-serif;
}

.header__form input:hover {
  border-bottom: 1px solid $brown;
}

.header__form svg {
  position: absolute;
  top: 11px;
}

@media (max-width: $tablet-width) {
  .header__form svg {
    left: 15px;
  }
}

.header__logo {
  margin: 0 auto;
}

@media (max-width: $mobile-width) {
  .header__logo {
    width: 52px;
    height: 52px;
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .header__logo svg {
    width: 52px;
    height: 52px;
  }
}

.header a {
  @include link();
  color: $almost-black;
  height: min-content;
  padding-bottom: 12px;
}

.header a:not(.header__logo):hover {
  border-bottom: 1px solid $brown;
}

.header a:active {
  color: $brown;
}

.header__users-links {
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 11px;
}

@media (max-width: $tablet-width) {
  .header__users-links {
    padding-top: 21px;
  }
}

.header__cart svg {
  display: none;
}

@media (max-width: $tablet-width) {
  .header__cart svg {
    display: block;
  }
}

@media (max-width: $tablet-width) {
  .header__cart span {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .header__login {
    display: none;
  }
}

.header__users-links a {
  width: max-content;
  margin-left: 35px;
}

.header__navigation {
  border-top: 1px solid $light;
}

.header__navigation ul {
  @include list-reset();
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 0 0;
}

.header__navigation li {
  @include offset(0, 0);
  width: max-content;
  padding-right: 35px;
  padding-bottom: 10px;
}

.header__navigation li:last-child {
  padding-right: 0;
}

.header__toggle {
  display: none;
}

@media (max-width: $tablet-width) {
  .header__toggle {
    display: block;
    border: none;
    background-color: $white;
    background-image: url('../img/open-button.svg');
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    flex-basis: 40%;
    margin-top: 21px;
  }
}

.header__additional-list {
  @include fonts(18px, 23px);
  @include list-reset();
  @include offset(0, 0);
  display: none;
  max-width: 80%;
}

.header__additional-list li {
  padding-bottom: 20px;
}

.header__additional-list a:not(.header__additional-special) {
  color: rgba($white, 0.75);
}

.header--active {
  background-color: $brown;
  padding: 0 45px 80px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  z-index: 20;
}

@media (max-width: $mobile-width) {
  .header--active {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header--active .header__container {
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
}

.header--active a {
  color: $white;
}

.header--active svg {
  stroke: $white;
}

.header--active .header__form {
  display: block;
  order: 3;
  flex-basis: 100%;
  margin-top: 20px;
}

@media (max-width: $mobile-width) {
  .header--active .header__form {
    margin-top: 8px;
  }
}

.header--active input {
  width: 100%;
  border-radius: 15px;
  background-color: rgba($white, 0.15);
}

.header--active .header__toggle {
  background-color: $brown;
  background-image: url('../img/active-button.svg');
}

.header--active .navigation {
  border-top: none;
}

.header--active .navigation__list {
  flex-direction: column;
  border-top: none;
  margin: 0;
  padding-top: 48px;
}

@media (max-width: $mobile-width) {
  .header--active .navigation__list {
    padding-top: 36px;
  }
}

.header--active .navigation__item {
  @include fonts(24px, 36px);
  padding-bottom: 21px;
  padding-left: 0;
}

.header__additional-list .navigation__item {
  padding-bottom: 8px;
}

.header__additional-list .navigation__item:last-child {
  padding-top: 20px;
}

.header--active .header__additional-list {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
}

@media (max-width: $mobile-width) {
  .header--active .header__additional-list {
    padding-top: 9px;
  }
}

.header--active .header__additional-link {
  @include fonts(18px, 23px);
}

.header--active .header__additional-special {
  padding-top: 27px;
  display: block;
}

@media(max-width: $mobile-width) {
  .header--active .header__additional-special {
    padding-top: 18px;
  }
}

.header--active .header__navigation {
  display: block;
}
