.login {
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  overflow: hidden;
  background-color: rgba($black,0.4);
  padding-top: 30px;
}

.login__wrapper {
  width: 430px;
  background-color: $beige;
  background-image: url('../img/sweet-ice-cream-photography.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 189px;
  margin: 68px auto;
  position: relative;
}

@media (max-width: $tablet-width) {
  .login__wrapper {
    margin-top: 49px;
  }
}

@media (max-width: $mobile-width) {
  .login__wrapper {
    width: 270px;
    margin-top: 19px;
    padding-top: 125px;
  }
}

.login--active {
  display: block;
}

.login__for-page {
  display: block;
  position: relative;
  margin-bottom: 80px;
}

.login h2 {
  @include fonts(34px, 44px);
  width: 90%;
  margin: 0 auto;
  padding: 0 0 20px;
  text-align: center;
  font-family: 'cormorantgaramond-bold', 'Arial', sans-serif;
}

@media (max-width: $mobile-width) {
  .login h2 {
    @include fonts(24px, 31px);
    padding-bottom: 11px;
  }
}

.login__form {
  width: 400px;
  padding-left: 23px;
  padding-right: 23px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: $mobile-width) {
  .login__form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
  }
}

.login__form input {
  width: 340px;
  border: none;
  border-bottom: 1px solid $almost-black;
  background-color: $beige;
  margin: 0 auto;
  padding-top: 15px;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .login__form input {
    padding-bottom: 9px;
  }
}

@media (max-width: $mobile-width) {
  .login__form input {
    width: 240px;
  }
}

.login__form input:not(:last-of-type) {
  margin-bottom: 30px;
}

@media (max-width: $tablet-width) {
  .login__form input:not(:last-of-type) {
    margin-bottom: 21px;
  }
}

@media (max-width: $mobile-width) {
  .login__form input:not(:last-of-type) {
    margin-bottom: 17px;
  }
}

.login__form input::placeholder {
  @include fonts(14px, 21px);
  font-family: 'poppins-medium', 'Arial', sans-serif;
  color: $grey;
}

.login__form a {
  @include link();
  @include fonts(12px, 18px);
  font-family: 'poppins-medium', 'Arial', sans-serif;
  color: $grey;
  text-align: right;
  width: 332px;
  margin-left: 15px;
  padding-top: 13px
}

@media (max-width: $tablet-width) {
  .login__form a {
    padding-top: 6px;
  }
}

@media (max-width: $mobile-width) {
  .login__form a {
    width: 240px;
    margin: 0;
    display: block;
    padding-top: 7px;
  }
}

.login__form button {
  font-family: 'poppins-medium', 'Arial', sans-serif;
  width: 340px;
  padding: 25px;
  background-color: $brown;
  color: $white;
  box-sizing: border-box;
  margin: 45px auto 15px;
  border: none;
  cursor: pointer;
  display: block;
}

@media (max-width: $mobile-width) {
  .login__form button {
    width: 240px;
    margin-top: 35px;
  }
}

.login__form button:hover {
  background-color: rgba($brown, 0.7)
}

.login__form button:active {
  background-color: rgba($brown, 0.5)
}

.login p {
  @include fonts(14px, 21px);
  font-family: 'poppins-medium', 'Arial', sans-serif;
  color: $grey;
  width: 340px;
  padding: 0 0 60px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: $mobile-width) {
  .login p {
    width: 240px;
    padding-bottom: 41px;
  }
}

.login__create-account {
  @include link();
  color: $almost-black;
}

.login__create-account:hover {
  color: $brown;
}

.login__create-account:active {
  color: rgba($brown, 0.5)
}

.login__button-close {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  padding: 0;
  background-image: url('../img/black-btn.svg');
  background-repeat: no-repeat;
  top: 20px;
  right: 20px;
  border: none;
  background-color: rgba($beige, 0);
  cursor: pointer;
  background-size: cover;
}

@media (max-width: $tablet-width) {
  .login__button-close {
    width: 22px;
    height: 22px;
    right: 15px;
  }
}

@media (max-width: $mobile-width) {
  .login__button-close {
    width: 15px;
    height: 15px;
    right: 15px;
    top: 16px
  }
}

.login--for-page .login__button-close {
  display: none;
}

.login--for-page {
  display: block;
  height: max-content;
  background-color: $white;
  margin: 0 auto;
  position: relative;
}

.login--for-page .login__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.login--for-page a {
  margin: 0 auto;
}
