.main {
  flex: 1 0 auto;
}

.main__wrapper {
  margin: 0 auto;
  padding: 0 20px 76px;
  display: flex;
  max-width: 1206px;
  box-sizing: border-box;
}

@media (max-width: $tablet-width) {
  .main__wrapper {
    padding: 0 45px 76px;
    flex-direction: column-reverse;
  }
}

@media (max-width: $mobile-width) {
  .main__wrapper {
    padding: 0 15px 64px;
  }
}

.main__wrapper a {
  text-align: center;
}
