@media (max-width: $tablet-width) {
  .modal-filter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 100%;
    background-color: $white;
    position: fixedd;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    padding-bottom: 89px;
  }
}

@media (max-width: $tablet-width) {
  .modal-filter__form {
    max-width: 423px;
    position: relative;
    padding-bottom: 40px;
  }
}

@media (max-width: $mobile-width) {
  .modal-filter__form {
    max-width: 87%;
    margin: 0 auto;
  }
}

@media (max-width: $tablet-width) {
  .modal__container {
    max-width: 423px;
    box-shadow: 10px 5px 5px rgba($beige, 0.3);
    border: none;
    margin: 30px auto 0;
  }
}

@media (max-width: $mobile-width) {
  .modal__container {
    max-width: 100%;
    box-shadow: 0 4px 15px 8px rgba($beige, 0.3);
  }
}

.modal-filter__close-button {
  display: none;
}

@media (max-width: $tablet-width) {
  .modal-filter__close-button {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
    background-color: $almost-black;
    background-image: url(../img/close-btn.svg);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: -19px;
    right: -16px;
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .modal-filter__close-button {
    top: -10px;
    right: -6px;
  }
}

@media (max-width: $mobile-width) {
  .modal-filter .filter__accordion-item:last-child {
    border-bottom: 1px solid $brown;
  }
}
