.new__wrapper {
  margin: 0 auto;
  padding: 120px 20px 114px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: $tablet-width) {
  .new__wrapper {
    padding-top: 69px;
    padding-bottom: 64px;
  }
}

@media (max-width: $mobile-width) {
  .new__wrapper {
    padding: 56px 23px 52px;
  }
}

.new h2 {
  @include fonts(34px, 44px);
  @include offset(0, 0);
  font-family: 'cormorantgaramond-bold', 'Arial', sans-serif;
  padding-bottom: 25px;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .new h2 {
    padding-bottom: 20px;
  }
}

.new p {
  @include offset(0, 0);
  text-align: center;
  padding-bottom: 60px;
}

@media (max-width: $mobile-width) {
  .new p {
    padding-bottom: 48px;
  }
}

.new a {
  @include fonts(16px, 20px);
  @include link();
  width: min-content;
  border-bottom: 1px solid $brown;
  color: $almost-black;
}

.new a:hover {
  color: $brown;
}

.new__slider-container {
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1172px;
  margin: 0 auto;
  width: 87%;
}

@media (max-width: $tablet-width) {
  .new__slider-container {
    width: 678px;
  }
}

@media (max-width: $mobile-width) {
  .new__slider-container {
    width: 100%;
    justify-content: space-between;
  }
}

.new__slider-pages {
  display: none;
}

@media (max-width: $mobile-width) {
  .new__slider-pages {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .new__slider-container--no-js {
    justify-content: center;
  }
}
