.pagination,
.pagination ul {
  @include list-reset();
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination__page-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: center;
}

.pagination__page-list li:not(:last-child) {
  padding-right: 15px;
}

@media (max-width: $mobile-width) {
  .pagination__page-list li:not(:last-child) {
    padding-right: 23px;
  }
}

.pagination__link {
  color: $grey;
  @include link();
}

.pagination__link:hover:not(.pagination__link--active) {
  color: $brown;
}

.pagination__link:active:not(.pagination__link--active) {
  color: rgba($brown, 0.5);
}

.pagination__link--active,
.pagination__button {
  color: $almost-black;
  @include link();
}

.pagination__button:hover {
  color: $brown;
}

.pagination__button:active {
  color: rgba($brown, 0.5);
}

@media (max-width: $mobile-width) {
  .pagination__button {
    display: none;
  }
}

.pagination__next-page {
  padding-left: 26px;
}

@media (max-width: $mobile-width) {
  .pagination__next-page {
    padding-left: 0;
  }
}
