.questions {
  margin: 0 auto;
  padding: 0 20px 110px;
}

@media (max-width: $tablet-width) {
  .questions {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 72px;
  }
}

@media (max-width: $mobile-width) {
  .questions {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 34px;
  }
}

.questions h2 {
  @include fonts(35px, 44px);
  font-family: 'cormorantgaramond-bold', 'Arial', sans-serif;
  padding: 0 0 48px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.51px;
}

@media (max-width: $tablet-width) {
  .questions h2 {
    width: 70%;
  }
}

@media (max-width: $mobile-width) {
  .questions h2 {
    width: 100%;
    padding-bottom: 26px;
  }
}
