.subscribe {
  flex-basis: 50%;
  padding-right: 87px;
}

@media (max-width: $tablet-width) {
  .subscribe {
    flex-basis: 100%;
    padding-right: 0;
    margin-bottom: 35px;
  }
}

@media (max-width: $mobile-width) {
  .subscribe {
    margin-bottom: 42px;
  }
}

.subscribe h2,
.subscribe p {
  max-width: 90%;
}

@media (max-width: $mobile-width) {
  .subscribe h2,
  .subscribe p {
    max-width: 78%;
  }
}

.subscribe h2 {
  @include fonts (34px, 44px);
  font-family: "cormorantgaramond-bold", "Arial", sans-serif;
  letter-spacing: 0.7px;
  padding-bottom: 12px
}

.subscribe p {
  @include fonts (16px, 20px);
  font-family: "poppins-regular", "Arial", sans-serif;
  color: $grey;
  padding-bottom: 33px;
}

.subscribe__form {
  border-bottom: 1px solid $white;
  display: flex;
  justify-content: space-between;
}

.subscribe__form label {
  min-width: 300px;
  width: 70%;
}

.subscribe__form input {
  border: none;
  background-color: $black;
  color: $white;
  padding: 10px 20px 10px 0;
  width: 100%;

  &::placeholder {
    @include fonts(14px, 21px);
    color: $grey;
  }
}

@media (max-width: $mobile-width) {
  .subscribe__form input {
    min-width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .subscribe__form label {
    min-width: 181px;
    flex-basis: 70%;
  }
}

.subscribe__button {
  background-color: $black;
  color: $white;
  border: none;
  min-width: fit-content;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .subscribe__button {
    width: 126px;
  }
}

@media (max-width: $mobile-width) {
  .subscribe__button {
    width: 105px;
  }
}

.subscribe__button:active {
  opacity: 0.6;
}

.subscribe__form input:hover,
.subscribe__form input:active {
  &::placeholder {
    color: $brown;
  }
}
