.title-box {
  background-color: $brown;
  color: $white;
}

.title-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-box--index {
  background-image: url('../img/main.jpg');
  min-height: 463px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/main@2x.jpg');
  }
}

@media (max-width: $tablet-width) {
  .title-box--index {
    background-image: url('../img/main-tab.jpg');
  }

  @media (min-resolution: 2dppx) {
    background-image: url('../img/main-tab@2x.jpg');
  }
}

@media (max-width: $mobile-width) {
  .title-box--index {
    background-image: url('../img/main-mob.jpg');
  }

  @media (min-resolution: 2dppx) {
    background-image: url('../img/main-mob@2x.jpg');
  }
}

.title-box--catalog {
  background-image: url('../img/background.jpg');
  min-height: 261px;
  margin-bottom: 80px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/background@2x.jpg');
  }
}

@media (max-width: $tablet-width) {
  .title-box--catalog {
    margin-bottom: 48px;
  }
}

@media (max-width: $mobile-width) {
  .title-box--catalog {
    margin-bottom: 37px;
  }
}

.title-box__wrapper {
  margin: 0 auto;
  max-width: 60%;
}

@media (max-width: $tablet-width) {
  .title-box__wrapper {
    max-width: 90%;
  }
}

.title-box h2 {
  @include offset(0, 0);
  font-family: 'cormorantgaramond-bold', 'Arial', sans-serif;
  width: 100%;
  text-align: center;
}

.title-box p {
  @include offset(0, 0);
  font-family: 'cormorantgaramond-regular', 'Arial', sans-serif;
  font-style: italic;
  width: 100%;
  text-align: center;
}

.title-box--index h2 {
  @include fonts(45px, 58px);
  padding-top: 180px;
  padding-bottom: 9px;
}

.title-box--catalog h2 {
  @include fonts(34px, 44px);
  padding-top: 91px;
  padding-bottom: 5px;
}

@media (max-width: $mobile-width) {
  .title-box--catalog h2 {
    padding-top: 74px;
  }
}


@media (max-width: $tablet-width) {
  .title-box--index h2 {
    letter-spacing: 0.9px;
  }
}

@media (max-width: $mobile-width) {
  .title-box--index h2 {
    @include fonts(34px, 49px);
    padding-top: 187px;
    padding-bottom: 0;
    letter-spacing: 2.7px;
  }
}

.title-box--index p {
  @include fonts(38px, 26px);
}

@media (max-width: $mobile-width) {
  .title-box--index p {
    @include fonts(34px, 32px);
    letter-spacing: -1.8px;
  }
}

.title-box--catalog p {
  @include fonts(22px, 28px);
  letter-spacing: -0.8px;
}
