/*Colors*/

$white: #ffffff;
$black: #000000;
$almost-black: #1f1f1f;
$grey: #9b9997;
$beige: #f0eae4;
$brown: #A87b62;
$light: #f6f5f4;



/*Viewports*/
$desktop-width: 1024px;
$tablet-width: 1023.4px;
$mobile-width: 767px;
$only-mobile-width: 320px;
